<nav class="navbar">
    <ul class="nav-links">
      <li *ngIf="isLoggedIn"><a routerLink="/upload-csv">Upload CSV</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/recommender-settings">Recommender Settings</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/recommender-testing">Testing</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/recommender-api">API</a></li>
    </ul>
    <div class="client-info">
      <span *ngIf="isLoggedIn">Welcome, {{ clientName }}</span>
      <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
      <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
    </div>
  </nav>